@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}


/* share style */
header, main{
    width: 81%;
    margin: 0 auto;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
}
/* header styles */
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}
.fav-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.travel{
    color: #FF5400;
}
.header ul{
    display: flex;
}
.header i{
    visibility: hidden;
}
.header ul li{
    list-style: none;
    margin-right: 44px;
}
.header ul li a{
    text-decoration: none;
    color:#424247;
    font-size: 1.125rem;
}
#home{
    color: #FF5400;
}

/* banner styles */
.banner{
    text-align: center;
    background-image: url('../Images/Group\ 13\ .png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 106px 120px;
    
}
.banner-content > h2{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-content > p{
    color: #FFF;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 48px;
   
}
.search-content{
    background: rgba(255, 255, 255, 0.30);
}
form{
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}
.search-content img{
 width: 10px;
 height: 10px;
 margin-right: 20px;
 color: #FFF;
}
.search-content, .where{
    padding: 16px;
    border-radius: 8px;
    border: 0;
    margin-right: 24px;
}
.search-content, #when, #select-type{
    padding: 16px 70px 16px 16px;
    border-radius: 8px;
    border: 0;
    margin-right: 24px;
}
.search-content, {
    padding: 16px 70px 16px 16px;
    border-radius: 8px;
    border: 0;
    margin-right: 24px;
}
.search-content .btn{
    padding: 16px 40px 16px 16px;
    border-radius: 8px;
    border: 0;
    margin-right: 24px;
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    font-weight: 700;
}
.search-content i{
    margin-right: 10px;
    margin-left: 20px;
}
/* popular place section 2 */
.popular-place{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 53px;
}
.popular-content{
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}
.popular-place-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}
.popular-place img{
    width: 100%;
}
.popular-content > p, li{
    margin: 16px 0;
}
.popular-content > ul{
    padding-left: 20px;
}
/* section 2 start Your Destination  */
.destination{
    margin-top: 100px;
    text-align: center;
}
.destination-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px; 
    margin-bottom: 48px;
}
.img-container{
    display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin-bottom: 100px;
   gap: 24px;
 
}
.img-container img{
    width: 100%;
    height: 100%;
   
}
.text-position{
    position: relative;
}
.image-container-1{
    grid-column: 1/span 6;
}
.image-container-2{

    grid-column: 7/span 6;
}
.image-container-3{
    grid-column: 1/span 4;
}
.image-container-4{
    grid-column: 5/span 5;
}
.image-container-5{
    grid-column: 10/span 3;
}
.image-container-6{
    grid-column: 1/span 5;
}
.image-container-7{
    grid-column: 6/span 7;
}
.img-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    
}

/* section 3 */
.item-serves{
    display: flex;
    gap: 24px;
}
.item-card1{
 
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.item-card1 img, .item-card2 img, .our-price img{
    width: 10%;
}
.item-title{
    margin-top: 20px;
    margin-bottom: 16px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
  
}
.item-description{
    color: #5A5A5D;
    line-height: 26px; 
}
.item-card2{
    
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.our-price{
    margin-top: 24px;
    margin-bottom: 100px;
    width: 50%;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* section 4 news latter */
.promotion{
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}
.news-latter{
   
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.promotion .news-latter-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}
.news-latter-description{
    margin-bottom: 24px;
}
hr{
    background: rgba(19, 19, 24, 0.10);
}
.subscribe-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form .name, .email{
    width: calc(90% - 16px);
    padding-left: 16px;
    padding: 16px 0 16px 16px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
form .subscribe{
    text-align: center;
    padding: 16px;
    width: 90%;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 800;
}
.news-latter-pic img{
    width: 100%;
    height: 100%;
    
    
}
.news-latter-pic .discount{
    position: relative;
    bottom: 32%;
    left: 24%;
    border-radius: 16px;
    background: #FF5400;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    width: 324px;
    height: 100px;
    transform: rotate(-22deg);
}
.news-latter-pic .discount > p{
    font-size: 1.5rem;
    
}
.news-latter-pic .discount > h3{
    font-size: 2rem;
    font-weight: 800;
}
/*  footer style */
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer{
    text-align: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer .footer-social-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

footer .woner-copyright{
    text-align: center;
    padding: 20px 280px 100px;
   
}
footer .woner-copyright p{
    margin-top: 40px;
    
}

/* bonus section start */
.our-special-offer{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 100px;
    
}
.our-special-offer img{
    width: 100%;
    border-radius: 10px;
}
.our-special-offer h2{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 800;
}
.our-special-offer .price{
    color: #FF5400;
}
.our-special-offer img:hover{
    box-shadow: 5px 5px 20px #817671b1;
    transform: scale(1.03, 1.04);
}
.package{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.special{
    color: #FF5400;
}















/* responsive mobile */
@media screen and (max-width:576px) {
    header, main{
        width: 93%;
    }
    .header ul{
        display: none;
    }
    
    .header i{
        visibility: visible;
    }
    .nav-title{
        font-size: 1.75rem;
    }
    form{
        flex-direction: column;
    }
    .banner-content > h2{
        font-size: 1.4rem;
    }
    
    .banner-content{
        padding: 15px;
    }
    form{
        flex-direction: column;
        gap: 15px;
        width: 255px;
    }
    .search-content input{
        padding-right: 50px;
    }
    .search-content, #when{
       padding-right: 150px;
    }
    .search-content, #select-type{
        padding-right: 120px;
    }
    .search-content .btn{
       
       padding-right: 100px;
    } 
    /* section 1 popular */
    .popular-place{
        flex-direction: column;
    }
    .popular-content{
        width: 100%;
    }
    .popular-place-title{
        font-size: 1.75rem;
    }
    /* section 2 */
    .destination-title{
        font-size: 1.5rem;
    }
    .img-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,1fr);
    }
    .image-container-1{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    .image-container-2{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .image-container-3{
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }
    .image-container-4{
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }
    .image-container-5{
        grid-column: 1/span 1;
        grid-row: 5/span 1;

    }
    .image-container-6{
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }
    .image-container-7{
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }
   .img-container h2{
    font-size: 1.5rem;
   }
   
   .image-container-5{
    width: 100%;
   }
   /* section 3  */
   .item-serves{
    flex-direction: column;
    
   }
   .our-price{
    width: 80%;
    
   }
   /* news latter */
   .promotion{
    flex-direction: column;
   }
   .news-latter-pic img{
    /* position: relative; */
    width: 100%;
    height: 100%;
    }
    .news-latter-pic{
        position: relative;
    }
    .news-latter-pic .discount{
        position: absolute;
       top: 60%;
       left: 48%;
        width: 180px;
        height: 50px;
    
    }
    .news-latter-pic .discount > p{
        font-size: 1rem;
        
    }
    .news-latter-pic .discount > h3{
        font-size: 1.25rem;
       
    }
    /* footer section */
    footer .woner-copyright{
       padding: 10px 10px 50px;
        
    }
    /* bonus section  */
    .our-special-offer{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .our-special-offer img{
        width: 100%;
        
    }

}